imdb_ai_agent_workflow.json
{
  "name": "imdb_ai_agent_workflow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -112
      ],
      "id": "bcd3758d-d1a8-4f90-b83c-465384b97269",
      "name": "When chat message received",
      "webhookId": "3cbf7477-d025-47aa-8a90-f91d60effd4b"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1SE0wKqGD_YBzG7UIixO7VfA7n9igH0KXb3m_Q1lGJ6A",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Table1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -80,
        -112
      ],
      "id": "808060dd-079e-46e1-85fe-4195da9d9c7c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "SLLfh658mDFfUIsC",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        128,
        -112
      ],
      "id": "846e1c90-880f-4273-ba9d-2d10727323e9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a01f399-b505-4aa0-8e5a-b3885b6000dd",
              "name": "columns",
              "value": "={{ JSON.stringify(Object.keys($json.data[0])) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -112
      ],
      "id": "478aecd8-da15-4bd3-9bf6-e0771122a6c2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful Data Analyst Assistant who is skilled at working with google sheets. Your goal is to help user understand the sheet that is specified. Here are the column names for the sheet {{ $json.columns }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        -112
      ],
      "id": "16793f3d-5819-4455-9d08-0852c3cbf24e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1SE0wKqGD_YBzG7UIixO7VfA7n9igH0KXb3m_Q1lGJ6A",
          "mode": "list",
          "cachedResultName": "IMDB Top250 Movies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SE0wKqGD_YBzG7UIixO7VfA7n9igH0KXb3m_Q1lGJ6A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1426633690,
          "mode": "list",
          "cachedResultName": "Table1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SE0wKqGD_YBzG7UIixO7VfA7n9igH0KXb3m_Q1lGJ6A/edit#gid=1426633690"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        864,
        80
      ],
      "id": "4cdd1f4a-6c56-4929-9caa-dc7e181c4298",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "SLLfh658mDFfUIsC",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        80
      ],
      "id": "66b5fa34-f231-4639-8a30-69fd98c1aa50",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QxmMXOfVogk7LN7L",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "A21xttdw8eodo3kgl182awceq01236rsyvxmjw3hatjbp5iwtwa"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        752,
        96
      ],
      "id": "9192de60-d3d9-44a0-9144-79714b375ab2",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "p1FXSotrc9cduMXf",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        496,
        80
      ],
      "id": "3d36aed3-b532-46ad-93d3-4a30b291f36e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "R78mRuD2GV9gkon2",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "99d8c8a3-2bfc-46dc-bd60-98e0fd0fb7df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3552db42dd24f51b7e366dd4266ff40f00ef8753d8597356b678f7c2e737aebc"
  },
  "id": "TbDJghKjQpo5X2Lj",
  "tags": []
}